<% include ../partials/header %>

<div class="top">
<h1>Work Experience</h1>
</div>

<div class="working">
<table name="work" width=100%>
    <tr>
    <td>
    <h3 class="Knox">Knox College</h3>    
    <p>Research Assistant</p>    
    </td>
    <td>
    <h3 class="Ipsos">Ipsos Marketing</h3>    
    <p>Research Intern</p>   
    </td>
    </tr>
    
    
</table>
</div>


<% include ../partials/footer %>