<!DOCTYPE html>
<html>
<head>
  
	<title>Harry Carpenter</title>
     <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Harry Carpenter</a>
    </div>
    <div class = "navbar-right">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Education
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/oprf">OPRF High School</a></li>
          <li><a href="/knox">Knox College</a></li>
        </ul>
      </li>
  
		<li class="active"><a href="/experience">Experience</a></li>
		<li class="active"><a href="/portfolio">Portfolio</a></li>
		<li class="active"><a href="/contact">Contact</a></li>  
      </ul>
    </div>
</div>
</div>
</nav>
