<% include ../partials/header %>
 <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
<div class="top">
<h1>Knox College</h1>
<h2>Galesburg, Illinois</h2>
</div>

<div class="knox">
<h2>Knox College</h2>
<h2>Class of 2018</h2>
<h2>Computer Science Major</h2>
<h2>Economics Minor</h2>
<h2>3.49 Overall GPA</h2>
<h2>3.39 Major GPA</h2>
</div>

<div class="knox-activities">
<h2>Activities and Societies</h2>
<div class="APO">
<h3>Alpha Phi Omega- Alpha Beta Gamma Chapter</h3>
    <table>
    <tr>
        <td class="APO-PIC1"></td>
        <td class="APO-PIC2"></td>
        <td class="APO-PIC3"></td>
    </tr>
    </table>
</div>

<div class="Mortar">
<h3>Mortar Board - Adelphi-Gnouthautii Chapter</h3>
<div class="Mortar-PIC"></div>    
</div>
    
<div class="Student-Sen">
<h3>Student Senate</h3>
<div class="Sen-PIC"></div>    
</div>    
    
<div class="Omicron">
<h3>Omicron Delta Epsilon</h3>
<div class="Omicron-PIC"></div>   
</div>

<div class="Best-Buddies">
<h3>Best Buddies- Knox College Chapter</h3>    
<table>
<tr>
  <td class="BB-PIC1">
    <td class="BB-PIC2"></td>      
     <td class="BB-PIC3"></td> 
</tr>
</table>
</div>


<div class="Swimming">
<h3>Swimming</h3>    
<table>
<tr>
<td class="Swimming-PIC1"></td>    
<td class="Swimming-PIC2"></td>    
</tr>

</table>
</div>

<div class="Water Polo">
<h3>Water Polo</h3>    
<table>
<tr>
<td class="WP-PIC1"></td>
<td class="WP-PIC2"></td>   
<td class="WP-PIC3"></td>
</tr>
</table>

</div>





</div>




<% include ../partials/footer %>