<% include ../partials/header %>
   <div class="top">

    <h1>Portfolio</h1>
    </div>


    <table class="portfolio" style="width:100%">
    <tr>
    <td>    
    <h3>Membership Master- Java</h3>
    <p>An independent project I worked on during summer 2017. Reads Excel data on chapter hours and outputs Membership reports in Microsoft Word. Reduces time sending requirements update emails by more than 90 percent.</p>
    <a class="btn btn-success" href="https://github.com/hhcarpenter1/MembershipMaster" target="_blank">See GitHub Repository</button>
    </td>

    <td>
    <h3>Rouge Port- Java</h3>
    <p>A term-long project for Software Engineering during spring term 2017. I worked on it with Ink Chinavinijkul, Andrew Richter, and Myra Doubet.</p>
    <a class="btn btn-success" href="https://github.com/hhcarpenter1/RoguePort-on-Java" target="_blank">See GitHub Repository</button>
    </td>


    </tr>
    
    <tr>
    <td>
    <h3>Shape Creator- Java</h3>
    <p>I worked on this project with Errol Kaylor for CS 220</p>
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/RZBvmAK7s_E">
</iframe>
</td>
<td> 
<h3>Scotland Yard- Java</h3>
<p>The detective must use buses, trains, and taxes to chase the robber! A game I created with Errol Kaylor for CS 220</p>
<a class="btn btn-success" href="https://github.com/ebkaylor/ebkaylor_hhcarpenter_cs220_lab5"  target="_blank">See GitHub Repository</button>
</td>

</tr>
<tr>
<td> 
<h3>Enigma Rotar Machine- Java</h3>

<p>Encrypts and decrypts a message by using two alphabetic rotars. Project 1 for CS 399- Research Seminar in Computer Science: American Cryptography</p>
<a class="btn btn-success" href="https://github.com/hhcarpenter1/Rotor-Machine-Cipher"  target="_blank">See GitHub Repository</button>
</td>
    
    
    
    <td>
        <h3>RSA Encryption- Java</h3>
        <p>Encrypts and decrypts a message by using binary numbers of over 100 integers. Project 2 for CS 399- Research Seminar in Computer Science: American Cryptography</p>
        <a class="btn btn-success" href="https://github.com/hhcarpenter1/RSA-Algorithm"  target="_blank">See GitHub Repository</button>    
    </td>
</tr>
<tr>
    <td>
    <h3>Election Map- Python</h3>    
    <p>A map that outputs a 2012 Presidential Election map of Illinois based off location and vote count.</p>    
    <a class="btn btn-success" href="https://github.com/hhcarpenter1/election-map"  target="_blank">See GitHub Repository</button> 
    </td>
    
    
</tr>




    </table>
<% include ../partials/footer %>